.progressive {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.original {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.original.loaded {
  opacity: 1;
}
